<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #f04837; font-size: 25px; font-weight: normal;">

  <div class="container-fluid">
    <a class="navbar-brand" href="#">OurVLE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav pull-right" id="yui_3_15_0_3_1679669084513_614">
        <li class="dropdown open" id="yui_3_15_0_3_1679669084513_611">
          <a class="dropdown-toggle" href="#" id="yui_3_15_0_3_1679669084513_610">
            <img class="profilepic" src="your_image_url_here" width="80px" height="80px" title="Your Name" alt="Your Name">
            Name
            <b class="caret" id="yui_3_15_0_3_1679669084513_609"></b>
          </a>
          <ul class="dropdown-menu profiledrop">
            <li><a href="#"><img class="profileicon" src="https://ourvle.mona.uwi.edu/theme/image.php/aardvark_ourvle/theme/1602827621/profile/course">My courses</a></li>
            <li><a href="#"><img class="profileicon" src="https://ourvle.mona.uwi.edu/theme/image.php/aardvark_ourvle/theme/1602827621/profile/profile">View profile</a></li>
            <li><a href="#"><img class="profileicon" src="https://ourvle.mona.uwi.edu/theme/image.php/aardvark_ourvle/theme/1602827621/profile/edit">Edit profile</a></li>
            <li><a href="#"><img class="profileicon" src="https://ourvle.mona.uwi.edu/theme/image.php/aardvark_ourvle/theme/1602827621/profile/files">My private files</a></li>
            <li><a href="#"><img class="profileicon" src="https://ourvle.mona.uwi.edu/theme/image.php/aardvark_ourvle/theme/1602827621/profile/calendar">Calendar</a></li>
            <li><a href="#"><img class="profileicon" src="https://ourvle.mona.uwi.edu/theme/image.php/aardvark_ourvle/theme/1602827621/profile/logout">Log out</a></li>
           </ul>
        </li>   
      </ul>
    </div>
  </div>
</nav>

