<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #f04837; font-size: 25px; font-weight: normal;">

  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('home')}}">OurVLE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if current_user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% with student = student %}
      
      <ul class="nav pull-right" id="yui_3_15_0_3_1679669084513_614">
        <li class="dropdown open" id="yui_3_15_0_3_1679669084513_611">
          <a class="dropdown-toggle" href="#" id="yui_3_15_0_3_1679669084513_610">
            <img class="profilepic" src="{{ url_for('static', filename = 'user.png')}}" width="34px" height="34px" title="{{student.first_name}} {{student.last_name}}" alt="{{student.first_name}}">
            {{student.first_name}}
            <b class="caret" id="yui_3_15_0_3_1679669084513_609"></b>
          </a>
          <ul class="dropdown-menu profiledrop">
            <li><a  href="{{ url_for('student_course_display', student_id=student['student_id']) }}"><img class="profileicon" src="https://ourvle.mona.uwi.edu/theme/image.php/aardvark_ourvle/theme/1602827621/profile/course">My courses</a></li>
            <li><a href="#"><img class="profileicon" src="https://ourvle.mona.uwi.edu/theme/image.php/aardvark_ourvle/theme/1602827621/profile/profile">View profile</a></li>
            <li><a href="#"><img class="profileicon" src="https://ourvle.mona.uwi.edu/theme/image.php/aardvark_ourvle/theme/1602827621/profile/edit">Edit profile</a></li>
            <li><a href="#"><img class="profileicon" src="https://ourvle.mona.uwi.edu/theme/image.php/aardvark_ourvle/theme/1602827621/profile/files">My private files</a></li>
            <li><a href="#"><img class="profileicon" src="https://ourvle.mona.uwi.edu/theme/image.php/aardvark_ourvle/theme/1602827621/profile/calendar">Calendar</a></li>
            
            <li><a href="{{ url_for('logout')}}"><img class="profileicon" src="https://ourvle.mona.uwi.edu/theme/image.php/aardvark_ourvle/theme/1602827621/profile/logout">Log out</a></li>
           </ul>
        </li>   
      </ul>
      {% endwith %}
    </div>
    {% endif %}

  </div>
</nav>

